<% if user_signed_in? %>

<div class="jumbotron">
  <%= render 'layouts/title' %>
  <br>
  <p>The following archived webinar(s) are available to view:</p>
  <br>

<div class="span8 offset1">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       <h5><span style="color: #A72B4D">Working together: organising care <br>for optimal management of prostate cancer</span></h5>

         <h6><strong><span style="color: #939598">
          Dr Simon Hughes, Consultant in Clinical Oncology and <br>Louisa Fleure, Advanced Prostate Cancer Specialist Nurse Guy's Hospital, London
        </span></strong></h6>

        <h6><span style="color: #A72B4D">Tuesday 26<sup>th</sup> November 2013 at 12.30-13.15</span></h6>

      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">

            <!-- <iframe width="640" height="360" src="//www.youtube.com/embed/qeYthltbbAw" frameborder="0" allowfullscreen></iframe> -->
            <img src="assets/archived-webcast.png"/>
                    	<%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %>

          </br>
          <br>
      </div>
    </div>
  </div>

  <hr>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <h5><span style="color: #A72B4D">Maximising quality of life for patients <br>with advanced prostate cancer</span></h5>

        <h6><strong><span style="color: #939598">
             Lawrence Drudge-Coates, Uro-Oncology Clinical Nurse Specialist <br>and Honorary Lecturer King’s College Hospital NHS Foundation Trust, London
        </span></strong></h6>

        <h6><span style="color: #A72B4D">Wednesday 15<sup>th</sup> January 2014 at 12.30-13.15</span></h6>

      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

        <img src="assets/archived-webcast.png"/>
           <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %>

          </br>

          <br>
      </div>
    </div>
  </div>

<hr>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <h5><span style="color: #A72B4D">Androgens and prostate cancer: <br>source, role and management*</span></h5>

        <h6><strong><span style="color: #939598">
             Dr Amit Bahl, Clinical Director and Consultant Oncologist <br>Bristol Haematology and Oncology Centre, University Hospitals Bristol 
        </span></strong></h6>

          <h6><span style="color: #A72B4D">Thursday 6<sup>th</sup> March 2014 at 12.30-13.15</span></h6>
      </a>
      <i>*This session will include a discussion regarding the enzalutamide clinical data.</i>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">

        <img src="assets/archived-webcast.png"/>

              <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %>

          </br>

          <br>
      </div>
    </div>
  </div>
<br>
  	<small>
		Contact us: <a href="mailto:rummy.ladwa@succinctcomms.com">rummy.ladwa@succinctcomms.com</a>
	</small>

</div>
</div>
</div>

      <%= render 'layouts/footer' %>

<% else %>

    <!-- flash_notice to show if form submission is unsuccessful -->
    <!-- <div class="alert alert-error" id="form-error" style="display: none;">
        <strong>Please fill in all fields and confirm that you are a healthcare professional. These webinars are intended for healthcare professionals only.</strong>
    </div> -->

<div class="jumbotron">
     <%= render 'layouts/title' %>


  <br>
  <h4>To register for this webinar series <br>please complete the following information:</h4>
<div class="login span6">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

    <%= f.input :name, :autofocus => true, label: "Name:" %>
    <%= f.input :email, :autofocus => true, label: "Work email address:"%>
    <%= f.input :company, :autofocus => true, label: "Place of work:" %>
    <%= f.input :job, :autofocus => true, label: "Job title:" %>
    <%= f.input :password, label: "Password:" %>
    <%= f.input :password_confirmation, label: "Password confirmation:" %>

        <div class="login span6 offset2">

        <h6>Please tick this box if you permit Astellas Oncology to send you two reminder emails prior to each live webinar, an email when each webinar is archived for viewing on the website and an email when a new webinar is added the programme.</h6>
            <%= f.input :reminder, :as => :boolean, :label => "Accept", :input_html => { :checked => "checked", class: 'left-aligned-checkbox' } %>

        <h6>Please tick this box if you permit Astellas Oncology to contact you in the future regarding other similar activities.</h6>
            <%= f.input :future, :as => :boolean, :label => "Accept", :input_html => { :checked => "checked" } %>

        <br>
        
        <p>Once you have registered, a confirmation email will be sent to you.</p>

        <br>
          <p>Are you a healthcare professional? Please select either yes or no:</p>

          <div class="marketing">
            <%= f.button :submit, "Yes", class: 'btn btn-primary btn-large' %>
            <!-- Button trigger modal -->
            <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-large">No</a>
          </div>

          <br></br>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4><span style="color: rgb(167, 43, 77)">Unfortunately as you are not a healthcare professional you are not permitted to view these webinars.</span></h4>
        </div>
        <div class="modal-footer">
          <%= link_to "Please click here to close the web page", "http://astellas.eu", class: 'btn btn-primary btn-large' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
        </div>

<% end %>
</div>

      <br>
        
        <small>
          Contact us: <a href="mailto:rummy.ladwa@succinctcomms.com">rummy.ladwa@succinctcomms.com</a>
        </small>
</div>
      <%= render 'layouts/prefooter' %>
<% end %>