<!-- notice to show if form submission is unsuccessful -->
    <div class="jumbotron-feedback">
    	<div class="span10">
        <h1>Webinar Feeback Form</h1>
        <h6><span style="color: rgb(167, 43, 77)">We’d be very grateful if you could please just spend one minute providing feedback regarding the webinar you have recently watched. Firstly, please indicate which webinar you are providing feedback for:</span></h6>

<br>
		<!-- flash_notice to show if form submission is successful -->
	<div class="alert alert-success" id="form-success" style="display: none;">
		<strong>Thank you for your feedback.</strong>
	</div>

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-error" id="form-error" style="display: none;">
		<strong>Please fill in all fields.</strong>
	</div>

<div class="login span8">
		<%= simple_form_for @feedback, :url => feedback_path, method: :post, remote: true, html: { class: "form-horizontal"} do |form| %>

			<div class="form-horizontal-checkbox">
				<%= form.input :first, :as => :boolean, :label => "<b>1. ‘Working together: organising care for optimal management of prostate cancer’ </b><br>Dr Simon Hughes & Ms Louisa Fleure", required: false %>
			<%= form.input :second, :as => :boolean, :label => "<b>2. ‘Maximising quality of life for patients with advanced prostate cancer’
</b><br>Mr Lawrence Drudge-Coates
", required: false %>
			<%= form.input :third, :as => :boolean, :label => "<b>3. 'Androgens and prostate cancer: source, role and management’
</b><br>Dr Amit Bahl
", required: false %>
		</div>
			
			<br>

		<h4>Q1: How relevant did you find the information presented to your day to day clinical work:</h4>
  			
			<%= form.input :very, :as => :boolean, :label => "Very relevant", required: false %>
			<%= form.input :partly, :as => :boolean, :label => "Partly relevant", required: false %>
			<%= form.input :irrelevant, :as => :boolean, :label => "Not at all relevant", required: false %>
			<br>

		<h4>Q2: How did you find the amount of information presented?</h4>
  			
			<%= form.input :first, :as => :boolean, :label => "Too much", required: false %>
			<%= form.input :second, :as => :boolean, :label => "About right", required: false %>
			<%= form.input :third, :as => :boolean, :label => "Too little", required: false %>
			<br>

		<h4>Q3: How likely is it that you will change your clinical practice as a result of what you have learned from this webinar?</h4>
  			
			<%= form.input :high, :as => :boolean, :label => "Very likely", required: false %>
			<%= form.input :middle, :as => :boolean, :label => "Quite likely", required: false %>
			<%= form.input :low, :as => :boolean, :label => "Unlikely", required: false %>
			<br>

			<p>If you answered ‘very likely’ or ‘quite likely’ to the last question, please explain how in the following box:</p>
  			<%= form.input :body, label: false, required: false, as: :text, input_html: { rows: "3" } %>			

		<br>

		<h4>Q4: How did you find the technical quality of the webinar?</h4>
  			
			<%= form.input :good, :as => :boolean, :label => "Good", required: false %>
			<%= form.input :satisfactory, :as => :boolean, :label => "Satisfactory", required: false %>
			<%= form.input :poor, :as => :boolean, :label => "Poor", required: false %>
			<br>

  			<p>Please add any further comments below:</p>
		  	  <%= form.input :comment, label: false, required: false, as: :text, input_html: { rows: "3" } %>
		  <br>
		  <p>Thank you very much for your feedback.</p>
		  <br>
		  </div>

			  <fieldset class="actions">
			    <%= form.submit "Submit", class: 'btn btn-primary btn-large' %>
			  </fieldset>
		<% end %>
	</div>
</div>
              <%= render 'layouts/evalfooter' %>
