<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>

	<br>
	<h4>To register for this webinar series please complete the following information:</h4>
	<h4>Are you a healthcare professional? Please select either yes or no:</h4>
	## INSERT CHECKBOXES ##
	<div class="row">
	<div class="login span3">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :company, :required => true, :autofocus => true, label: "Place of Work" %>
    <%= f.input :job, :required => true, :autofocus => true, label: "Job Title" %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    	<div class= "checkbox">
    		Please tick this box if you permit two reminder emails to be sent to you prior to each live webinar and also again once each webinar has been archived for viewing on the website. <%= f.input :reminder, :as => :boolean, label: "Tick here", :input_html => { :checked => "checked" } %>
    	</div>
    <div class="form-actions">
    <%= f.button :submit, "Register", class: 'btn btn-primary btn-large' %>
</div>
<% end %>
</div>
</div>
	<p><strong>XTANDI&trade;</strong> Prescribing information can be found <%= link_to 'here', pi_path %>.</p>
</div>
