<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>

	<div class="login span3">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
    <%= f.input :name, :required => false, :autofocus => true %>
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :password_confirmation, :required => true %>
    <div class="form-actions">
    <%= f.button :submit, "Register", class: 'btn btn-primary btn-large' %>
</div>
<% end %>
</div>

</div>
