<% if user_signed_in? %>

    <div class="jumbotron">
        <h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
        <h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
        <br>
        <h5>Please login on January 15, 2014 at 13:00 to watch</h5><h5>John Doe from Astellas present a live webinar entitled:</h5>
        <br>
        <h3><span style="color: #A72B4D">Webinar Title</span></h3>
    </div>
          <%= render 'layouts/footer' %>

<% else %>

    <!-- flash_notice to show if form submission is unsuccessful -->
    <!-- <div class="alert alert-error" id="form-error" style="display: none;">
        <strong>Please fill in all fields and confirm that you are a healthcare professional. These webinars are intended for healthcare professionals only.</strong>
    </div> -->

<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>

	<br>
	<h4>To register for this webinar series please complete the following information:</h4>
<div class="login span6">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

    <%= f.input :name, :autofocus => true %>
    <%= f.input :email, :autofocus => true %>
    <%= f.input :company, :autofocus => true, label: "Place of Work" %>
    <%= f.input :job, :autofocus => true, label: "Job Title" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    	
        <div class="span2">
        </div>
        
        <div class="login span6 offset2">

		    <p>Please tick this box if you permit two reminder emails to be sent to you prior to each live webinar and also again once each webinar has been archived for viewing on the website.</p> 
            <%= f.input :reminder, :as => :boolean, :label => "Accept", :input_html => { :checked => "checked" } %>

        <br>
               <p>Are you a healthcare professional? Please select either yes or no:
                <%= f.button :submit, "Yes", class: 'btn btn-primary btn-large' %>
                <%= link_to "No", error_path, class: 'btn btn-danger btn-large' %>
               </p>

        </div>

<% end %>
</div>
    <div class= "bird">
        <img src="assets/bird_oncology.png"/>
    </div>
</div>
      <%= render 'layouts/prefooter' %>
<% end %>

