<% if user_signed_in? %>

<div class="jumbotron">
	<%= render 'layouts/title' %>
	<br>
	
	<br>
	<h3><span style="color: rgb(167, 43, 77)">Working together: organising care for <br>optimal management of prostate cancer</span></h3>
	<h6>
		Dr Simon Hughes, Consultant in Clinical Oncology and <br>Louisa Fleure, Advanced Prostate Cancer Specialist Nurse Guy's Hospital, London
	</h6>

	<img src="assets/webcast.png"/>

	<div class="timer">
		<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('33a42047-6125-49af-bcf1-59036a8d9016');</script>
	</div>
<br>
</br>
	<div class"span12">
	<%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %>
</div>
	<br>

	<hr>

	

	<h4><span style="color: rgb(167, 43, 77)">
		Please submit a question in the box below:
	</span></h4>

<div class="login span8 offset1">
	<div class="span6 offset1">
	<!-- flash_notice to show if form submission is successful -->
	<div class="alert alert-success" id="form-success" style="display: none;">
		<strong>Thank you, your question was successfully sent.</strong>
	</div>

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-error" id="form-error" style="display: none;">
		<strong>Please fill in all fields.</strong>
	</div>
</div>
		<%= simple_form_for @message, :url => contact_path, method: :post, remote: true, html: { class: "form-horizontal"} do |form| %>

			  <%= form.input :name, label: 'Name', required: false %>
		  	  <%= form.input :body, label: 'Question', required: false, as: :text, input_html: { rows: "3" } %>
		  <br>
		  </div>

			  <fieldset class="actions">
			    <%= form.submit "Send", class: 'btn btn-primary btn-large' %>
			  </fieldset>
		<% end %>

	<br>
</br>
	<p>
		Please note, each webinar will last up to 45 minutes and will be available<br> to view at a later date, by registered users.
	</p>
</div>

      <%= render 'layouts/footer' %>

<% else %>
     
      <%= render 'layouts/preregistration' %>

      <%= render 'layouts/prefooter' %>

<% end %>
