
<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>

	<br>
	
	<h3><span style="color: rgb(167, 43, 77)">Webinar Title</span></h3>
	<h5>
		John Doe, Astellas
	</h5>
	
	<br>

	<img src="assets/webcast.png"/>

	<hr>

	<!-- flash_notice to show if form submission is successful -->
	<div class="alert alert-success" id="form-success" style="display: none;">
		<strong>Thank you, your question was successfully sent.</strong>
	</div>

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-error" id="form-error" style="display: none;">
		<strong>Please fill in all fields.</strong>
	</div>

	<h4><span style="color: rgb(167, 43, 77)">
		Please submit a question in the box below:
	</span></h4>

<div class="login span8 offset1">
		<%= simple_form_for @message, :url => contact_path, method: :post, remote: true, html: { class: "form-horizontal"} do |form| %>

			  <%= form.input :name, label: 'Name' %>
			  <%= form.input :email, label: 'E-mail Address' %>
		  	  <%= form.input :body, label: 'Question', as: :text, input_html: { rows: "3" } %>
		  <br>
		  </div>

			  <fieldset class="actions">
			    <%= form.button :submit, "Send", class: 'btn btn-primary btn-large' %>
			  </fieldset>
		<% end %>
	<br>
	<p>
		Please note, this webinar will last up to 45 minutes and will be available to view, at a later date, by registered users post the event on the <%= link_to 'archive page', archive_path %>.
	</p>

	<div class= "bird">
        <img src="assets/bird_oncology.png"/>
    </div>
</div>

      <%= render 'layouts/footer' %>

