<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
<br>
	<h3><span style="color: #A72B4D">Webinar Title</span></h3>
	<h5>
		John Doe, Astellas
	</h5>
		<br>
	<img src="assets/webcast.png"/>

	<hr>

	<p>
		Please submit a question in the box below:
	</p>

		<%= simple_form_for :message, :url => contact_path do |form| %>
			 <%= simple_form_for(:message, :as => resource_name, :url => contact_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
			 <div class="submit">
	    <%= f.text_area :body, :required => true, :size => '30x5'  %>
	    </div>
	    	<div class="submit">
	    <%= f.button :submit, "Send", class: 'btn btn-primary btn-large' %>
	</div>
	<% end %>

	<% end %>

	<br>
	<p>
		Please note, this webinar will last up to 45 minutes and will be available to view, at a later date, by registered users post the event on the <%= link_to 'archive page', archive_path %>.
	</p>
<br>
	<p><%= link_to 'Archived Webinars', archive_path, class: "btn btn-danger btn-small" %></p>
</div>

      <%= render 'layouts/footer' %>

