<% if user_signed_in? %>

<div class="jumbotron" style="col-md-8 col-md-offset-2">
  <%= render 'layouts/title' %>
</div>
<br />
<div class="jumbotron">
  <div class="row">
    <div class="blockquote-box clearfix col-md-10 col-md-offset-1" align="center">
      <h3>Professor Marcus Drake, <br />Consultant Urological Surgeon, Southmead Hospital, Bristol</h3>
      	<h3 style="color:#CC0767">Friday 4<sup>th</sup> July 2014 at 12.30-13.15</h3>
      	<h5>*This session will include a discussion regarding the Vesomni™ clinical data.</h5>

      	<img src="assets/webcast.png" class="img-responsive"/>

      	<!-- flash_notice to show if form submission is successful -->
		<div class="alert alert-success" id="form-success" style="display: none; margin-top: 15px; margin-bottom: 0px;">
			<strong>Thank you, your question was successfully sent.</strong>
		</div>
		<!-- flash_notice to show if form submission is unsuccessful -->
		<div class="alert alert-error" id="form-error" style="display: none; margin-top: 15px; margin-bottom: 0px;">
			<strong>Please fill in all fields.</strong>
		</div>
      	<%= simple_form_for @message, :url => contact_path, method: :post, remote: true, html: { class: "form-horizontal"} do |form| %>
      	<br />
		<%= form.input :body, label: "Please submit a question in the box below:", required: false, as: :text, input_html: { rows: "3" } %>
		<br />
		<%= form.submit "Send", class: 'btn btn-primary btn-large' %>
		<% end %>
    	
    	<h5 style="margin-bottom: 100px;">Please note, each webinar will last up to 45 minutes and will be available<br> to view at a later date, by registered users.</h5>
    </div>
  </div>
</div>

    <br /> 

</div>

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>
