<div class="jumbotron" style="padding: 20px 72px 20px 68px;">
		<%= render 'layouts/title' %>

		<div class="login span6 offset2">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
	    	<%= f.input :email, :autofocus => true, label: "Email Address" %>
	    	<%= f.input :password %>
		</div>
		<br>
		</br>
	    <fieldset class = "actions" style="margin-left: 17px;">
	   		<%= f.button :submit, "Login", class: 'btn btn-primary btn-large' %>
		</fieldset>
		<% end %>

<!-- <br>


		<div class="next-webinar span6 offset2">
				<p><strong>The next live webinar is as follows:</strong></p>
				<p><b>Date:</b> Tuesday 26th November 2013</p>
				<p><b>Time:</b> 12.30 to 13.15</p>
				<p><b>Title:</b> <i>Working together: organising care for optimal management of prostate cancer</i></p>
				<p><b>Speakers:</b> Dr Simon Hughes, Consultant in Clinical Oncology and Ms Louisa Fleure, Advanced Prostate Cancer Specialist Nurse, Guy's Hospital, London</p>
<br>
				<p>We do hope that you will be able to join us and you find the webinar interesting and informative.</p>

				<p>Please note, details regarding speakers, topics and timings for the full webinar programme are available on the website.</p>

		</div>

-->
</div>
